.sectionCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}

.SectionLiveClass {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.contenedorAnuncio {
  display: flex;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color:  #ffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.imagenAnuncio {
  width: 18%;
  height: 18%;
  margin-left: 10px;
}

.textoAnuncio {
  width: 90%;
  height: 100%;
  margin-left: 10px;
}