#asideHome {
    width: 20%;
    float: left;
    background-color: #f1f1f1;
    padding: 15px;
    margin-top: 7px;
    margin-left: 7px;
    border-radius: 10px;  
}

#mainHome{
    width: 75%;
    float: right;
    padding: 15px;
    margin-top: 7px;
    margin-right: 7px;
    border-radius: 10px;
}